.inter-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

div.workout {
    font-family: inter;
    color: white;
    font-size: 14px;
    letter-spacing: 1;
}

div.navcontainer {
    display: flex;
    justify-content: space-between;
    margin: 24px;
    padding-top: 16px;

}

div.Yazi a {
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.548);
    text-decoration: none;
    font-size: 12px;
    
}